*{
    margin: 0;
    padding: 0;
}

body{
    border: 10px groove green;
    background-image: url(./sun\ rise.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.top{
    display: flex;
    /* justify-content:space-evenly; */
    width: 100%;
    margin: 1%;
    justify-content: space-between;
}

.topbox{
    color: white;
    border: 5px solid red;
    background-color:black;
    border-radius: 20px;
    font-family: serif;
    font-size: 25px;
    font-weight: bold;
}
.topbox1{
    text-align: center;
    height: 100px;
    width: 30%;;
    padding-top: 20px;
    /* margin-right: 40px; */
    /* border-radius: 50%; */
    /* margin-left: 150px; */
}
.topbox2{
    height:30px ;
    width: 35%;  
    /* margin-right: 100px; */
    margin-left: -23%;
    margin-top: 2%;
    /* padding-left: 10px; */
    text-align: center;
    /* align-content: ; */
    padding-top: 10px;
}

.topbox3{
    line-height: 40px;
    height: 130px;
    width: 30%;
    text-align: center;
    margin-right: 20px;
    padding-top: 10px;

    
}
.middlecontainer{
    display: flex;
    flex-direction: row;
    
}
.circle{
    color: black;
    border: 5px solid gray;
    background-color: rgb(33, 107, 107);
    /* width: 400px; */
    /* height: 300px; */
    border-radius: 50%;
    margin-left: 40px;
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    /* display: flex;  */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* row-gap: 20PX; */
    /* box-sizing: content-box */
    text-align: center;
    /* padding-top: 20%; */
    padding-top: 4% ;    
    width: 445px;
    height: 286px;
    padding-top: 9%;
    width: 45%;
    height: 28%;
    padding-bottom:9%;
    margin-top: 10%;
    display: inline;
    
}
hr{
    color: 2px white;
    
}
.form{
    
    border: 5px dashed red;
    width: 30%;
    padding-top: 2%;
    text-align: center;
    background-color: white;
    margin-left: 10%;
    margin-top: 5%;
    

}
label{
    color: tomato;
    font-size: 25px;
}

.menu{
    width: 25%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 10px 37.5%;
}


.flexcontainer{
    display: flex;
    justify-content: space-around;
    /* align-items: ; */
    flex-wrap: wrap;
    /* height: 400px; */
    margin: 20px;
}
.card{
    height: 300px;
    width: 30%;
    border: 3px solid green;
    /* row-gap: 50px; */
    margin: 15px;
    border-radius: 20px;
    background-color: turquoise;
}
h1{
text-align: center;
font-size: 40px;padding: 20px;
color: darkblue;
}

ul{
    text-align: center;
    color: blue;
    padding-left: 40px;
    font-size: 23px;
    font-weight: bold;
    margin-top: 10px;
}

.card6{
    height: fit-content;
    padding-bottom: 2%;
}